* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
}
.main {
  overflow: hidden;
}

.wave {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  padding: 0 2rem;
}

.img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.img img {
  width: 500px;
}

.form {
  width: 400px;
}

.login-content img {
  height: 100px;
}

.login-content h2 {
  margin: 10px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before,
.input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #38d39f;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: #38d39f;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
}

.input-div.pass {
  margin-bottom: 4px;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover {
  color: #38d39f;
}

.btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px !important;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to right,
    #32be8f,
    #38d39f,
    #32be8f
  ) !important;
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  margin-top: 15px !important;
  transition: 0.5s;
}
.btn:hover {
  background-position: right;
}

@media screen and (max-width: 1050px) {
  .container {
    grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 290px;
  }

  .login-content h2 {
    font-size: 2.4rem;
    margin: 8px 0;
  }

  .img img {
    width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .img {
    display: none;
  }

  .wave {
    display: none;
  }

  .login-content {
    justify-content: center;
  }
}

/* main/ */

.input-div select {
  width: 370px;
  border: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;
  font-family: "poppins", sans-serif;
}

#main2 {
  /* background-color: #2ccb93b2;
  height: 100vh;
  border: 1px solid white;
  margin: 60px 100px;
  padding: 30px 50px; */
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.imgmain {
  margin-left: -1400px;
  transition: all 0.5s;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maindi {
  position: absolute;
  top: 10px;
  width: 50%;
  height: 98vh;
  right: 10px;
  background-color: #00d26971 !important;
  /* background-color: #2CCE95 !important; */
  border: 2px solid #2ccb93b2 !important;
  opacity: 1 !important;
  transition: all 0.8s;
  padding: 20px 10px;
}
.maindi2 {
  position: absolute;
  top: 10px;
  width: 50% !important;
  height: 98vh;
  right: 10px;
  /* background-color: #2ccb93b2 !important; */
  border: 2px solid #2ccb93b2 !important;
  opacity: 1 !important;
  transition: all 0.8s;
  padding: 20px 10px;
}
.maindi3 {
  position: absolute !important;
  top: 10px !important;
  width: 50% !important;
  height: 98vh !important;
  right: 10px !important;
  background-color: #2ccb93b2 !important;
  border: 2px solid #2ccb93b2 !important;
  opacity: 1 !important;
  transition: all 0.8s !important;
  padding: 100px 100px !important;

}

.display {
  display: none;
  text-transform: capitalize;
}

button {
  /* background-color: #00D26A ; */
  padding: 12px 20px;
  border: none ;
  border-radius: 5px !important;
  color: white !important;
  margin: 0 20px 0 20px;
}
input {
  padding: 10px !important;
  margin: 5px !important;
  border-radius: 5px !important;
  border: none !important;
text-transform: capitalize;
}

#main4{
   background-image:linear-gradient(70deg,#00d269c9 , white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
#main3{
  background-image:linear-gradient(100deg,#00D26A , white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 780px) {
  .imgmain {
    margin-left: 0px;
  
  }
  .maindi{
    position:initial !important;
    width: 100% !important;
    overflow-x: scroll !important;
  }
  .form{
    width: 300px;
  }
  #main3{
    position: initial !important;
    width: 100% !important;
    overflow-x: scroll !important;
  }
  #main4{
    position: initial !important;
    width: 100% !important;
    overflow-x: scroll !important;
    padding: 20px !important;
  }
}
